<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlContextConnectionName" value="SqlContextConnection"/>
    <add key="UncServerName" value="localhost" />
    <add key="InstanceDirectory" value="MSSQLSERVER" />
    <add key="DatabaseDirectory" value="dbFiles"/>
    <add key="FileTableDirectory" value="DocumentTable"/>
  </appSettings>
  <connectionStrings configSource="connections.config" />
</configuration>